@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-Regular.woff2') format('woff2'),
         url('/fonts/Nunito-Regular.woff') format('woff');
}

a, p, div, span, blockquote, strong, code {
    font-size: 17px;
}

strong {
    color: red;
    font-size: 19px;
}
